# Credentials API Telegram pour AutoTele
# Copiez ce fichier en credentials.py et remplissez vos credentials
# Obtenez vos credentials sur https://my.telegram.org

API_ID = "21211112"
API_HASH = "64342ccdb7588fe8648219265ff5f846"
